<h3>Login</h3>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
	<label for="username">Username:</label>
	<input type="text" name="username":><br>
	<label for="password">Password:</label>
	<input type="password" name="password">
	<input type="submit" value="submit">
<% end %><br>
<p>Go back to the CouchPotato <a href="/">Homepage</a>.</p>