<h1>Notes for <%= @show.show_title%></h1>
<% if @notes.count == 0 %>
  <h4>You haven't written any notes about this show yet.</h4>
<% else %>
<ul>
<% @notes.each do |n| %>
     <li>
        <%# <h3><%= link_to n.show.show_title, show_path(n.show) %> 
        <p><%= n.content %></p>
<% end %>
</ul>
<% end %>