<h1>Notes for <%= @show.show_title%></h1>
<% if @notes.count == 0 %>
  <h4>You haven't written any notes about this show yet.</h4>
<% else %>
<ul>
<% @notes.each do |n| %>
     <li>
        <p><%= n.content %></p>
<% end %>
</ul>
<% end %>