<h1>Welcome, CouchPotato!</h1><br>
<h2>Your Watchlist:</h2>

   <% @shows.each do |s| %>
   <h4><li><%= link_to s.show_title, show_path(s.id) %></h4>
    <p><%= s.status.watched %></p>
    <%= link_to "Show Notes", show_notes_path(s.id)%> 
<% end %>

<p>Add a new show <a href="/shows/new">here.</p>